*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 59%,
    rgba(250, 243, 238, 1) 100%
  );
}
.main-header,
.main-section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;

  font-family: Arial, Helvetica, sans-serif;
  color: #4f4f4f;
}
.container-6,
.footer-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f4f4f;
}
.footer-container {
  padding-right: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4f4f4f;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: 0.04em;
}

.header-section {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo,
.footer-logo {
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
}

.header-right {
  display: flex;
  gap: 45px;
}

.header-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 0;
}

.header-category {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #333333;
  font-variant: small-caps;
}

.logo-title,
.logo-title-footer {
  color: #647b64;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 12px;
}
.logo-title {
  font-size: 20px;
}
.logo-title-footer {
  font-size: 16px;
  font-weight: bold;
}

.header-button {
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%),
    linear-gradient(102.3deg, #0bb1e3 -4.62%, #0f2976 178.22%), #0e70af;
  border-radius: 4px;
  border: none;
  color: white;
  font-variant: small-caps;

  padding: 10px 15px;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5,
.container-6,
.footer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-1 {
  padding-left: 80px;
  padding-right: 40px;
  margin-bottom: 50px;
}

.image-girl {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.container-1-info,
.container-2-info,
.info-container-4 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 44px;
  font-variant: small-caps;
  font-weight: 500;
  margin: 0;
}

.about-title {
  font-size: 18px;

  line-height: 132%;
  font-weight: bold;
  letter-spacing: 0.04em;
  margin: 0px;
  font-style: bold;
}

.button-1,
.button-2 {
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 4px;
  margin-top: 20px;

  padding: 20px 30px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.container-2 {
  display: flex;
  flex-direction: column;
}

.container-2-main {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.container-2-info {
  width: 40%;
}

.container-2-trip {
  margin-top: 50px;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.about-trip {
  width: 200px;
  font-size: 13px;
  line-height: 17px;
  color: #4f4f4f;

  letter-spacing: 0.04em;
}
.about-title-2,
.about-3,
.about-4 {
  font-size: 16px;
  line-height: 17px;
  color: #4f4f4f;

  letter-spacing: 0.04em;

  margin: 0;
}
.about-3-middle {
  font-size: 14px;
  line-height: 17px;
  color: white;

  letter-spacing: 0.04em;

  margin: 0;
}

.trip-name {
  font-variant: small-caps;
  font-weight: 500;
  margin-top: 8px;
  margin-bottom: 8px;
}

.trip-icon,
.trip-icon-car {
  background-color: white;
  padding: 10px 10px;
  border-radius: 10px;
}

.trip-icon-car {
  background-color: rgb(100, 123, 100);
}

.car-trip {
  background-color: white;
  padding: 30px 35px;
  border-radius: 10px;
}

.ship-trip,
.bus-trip,
.train-trip {
  background-color: none;
  padding: 30px 35px;
  border-radius: 10px;
}

.title-2 {
  color: #f3b562;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;

  background: linear-gradient(
    164.26deg,
    rgba(239, 128, 49, 0) -335.51%,
    rgba(239, 128, 49, 0.15) -20.24%,
    rgba(239, 128, 49, 0) 119.45%
  );
  padding: 90px 100px;
  padding-top: 30px;
  margin-left: -100px;
}

.bottom-2-title,
.bottom-5-title {
  color: #647b64;
  font-weight: 500;
  font-size: 35px;
  margin-top: 5px;

  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
}

.bottom-title,
.title-4 {
  font-weight: 500;
  font-size: 20px;
  color: #f3b562;

  text-transform: uppercase;
  margin: 0;
}
.container-2-bottom-left {
  width: 100%;
  display: flex;
}
.container-2-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-3 {
  margin-top: 30px;
  gap: 30px;
}

.container-3section {
  width: 33%;
  background: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);

  padding: 60px 50px;
  border-radius: 8px;
}
.container-3section-middle {
  width: 33%;
  background-color: #647b64;
  box-shadow: 0px 4px 4px #647b64;
  border: none;
  padding: 58px 50px;
  border-radius: 8px;
  color: white;
}

.first-word {
  font-weight: 500;
}
.second-word {
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

.title-3 {
  text-transform: uppercase;
  font-weight: 500;
}

.container-3-icon {
  width: 20%;
}

.title-amet {
  color: #647b64;
  font-weight: 500;
  font-size: 35px;

  text-transform: uppercase;
}
.image-container-4 {
  width: 55%;
}

.info-container-4 {
  width: 45%;
  margin-top: 100px;
  padding-left: 70px;
}

.left-foto {
  margin-top: 131px;
  width: 100%;
  background: linear-gradient(
    197.92deg,
    rgba(239, 128, 49, 0) -227.37%,
    rgba(239, 128, 49, 0.15) 1.58%,
    rgba(239, 128, 49, 0) 103.02%
  );
}
.two-human {
  width: 90%;
  height: 90%;
  margin-top: -30px;
  margin-bottom: 30px;
  object-fit: cover;
}

.vector-right {
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  padding: 10px 10px;
  border-radius: 50px;
}

.vector-left {
  height: 30%;
  padding-right: 50px;
  justify-content: center;
}

.container-5-right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 20px;
}

.container-6 {
  column-gap: 30px;
  overflow: hidden;
  padding-bottom: 100px;
}

.human-container,
.human-container-hidden {
  width: 35%;
  background: linear-gradient(
      358.27deg,
      rgba(100, 123, 100, 0.77) -118.86%,
      rgba(100, 123, 100, 0) 25.62%,
      rgba(100, 123, 100, 0) 98.53%
    ),
    #ffffff;

  border-radius: 8px;
  padding: 25px 30px;
}
.footer-container {
  background-color: #f0dcc5;
  margin-bottom: 5px;
  margin-right: 5px;
}

.personal-info {
  display: flex;
}
.footer-section {
  width: 25%;
  height: 500px;
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
}

.logo-1 {
  width: 20%;
  height: 20%;
}

.ig-background {
  position: relative;
}

.ig-logo {
  position: absolute;
  margin-left: 7px;
  margin-top: 7px;
}

.footer-section-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  gap: 23px;
}

.about-logo-footer {
  width: 70%;
}

.footer-box {
  width: 100%;
  height: 100px;
  border: none;
  font-size: 12px;
  color: black;
  padding: 10px 20px;
}

.button-footer {
  background: linear-gradient(102.3deg, #647b64 -4.62%, #66ac66 178.22%);
  border-radius: 2px;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.155em;
  margin-top: 20px;

  padding: 20px 20px;

  display: flex;
  justify-content: space-between;
}
